amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
Cython==0.28.5
defusedxml==0.5.0
Django==1.11.23
django-allauth==0.33.0
django-configurations==2.0
django-cors-headers==2.4.0
django-recaptcha2==1.0.3
django-rest-framework==0.1.0
django-widget-tweaks==1.4.1
djangorestframework==3.9.1
gevent==1.4
greenlet==0.4.14
idna==2.6
kombu==4.1.0
numpy==1.15.1
oauthlib==2.0.4
psycopg2==2.7.3.1
python-memcached==1.58
python-openid==2.2.5
python3-openid==3.1.0
pytz==2018.5
redis==2.10.6
requests==2.20.0
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.25.7
vine==1.1.4
word2vec==0.9.4
elasticsearch==7.0.4
pytest==5.1.2
pytest-django==3.5.1
pytest-cov==2.7.1
mock==3.0.5
expiringdict==1.1.4
django-rest-swagger==2.2.0