{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>AberOWL</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bower/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/app.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% block head %}{% endblock %}

  </head>

  <body>

    {% block navigation %}
      {% include "header.html" %}
    {% endblock %}
    <div class="container">
      <div class="content">
      {% block content %}
      {% endblock %}
      </div>
    </div><!-- /.container -->

    <footer class="aberowl-footer">
      <p>
	AberOWL is jointly developed by researchers
	from <a href="http://borg.kaust.edu.sa">KAUST BORG</a>,
	the <a href="http://www.birmingham.ac.uk/research/activity/mds/centres/computational-biology/index.aspx">University
	  of Birmingham</a> and
	the <a href="http://www.pdn.cam.ac.uk/staff/schofield/index.shtml">University
	of Cambridge</a>
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "bower/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bower/react/react.production.min.js" %}"></script>
    <script src="{% static "bower/react/react-dom.production.min.js" %}"></script>
    <script src="{% static "bower/babel/browser.min.js" %}"></script>
    <script src="{% static "bower/fetch/fetch.js" %}"></script>
    <script src="{% static "js/react-router.min.js" %}"></script>
    <script src="{% static "js/react-router-dom.min.js" %}"></script>
    <script src="{% static "js/html-react-parser.min.js" %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
